.active-link {
    font-weight: 500;
}

.header {
    background-color: white;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: midnightblue;
}

.overlay-content, .form-container,  #paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50%;
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    top: 20%;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }